body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-image: linear-gradient(to bottom right, #F9FAFB, #D2D6DB);
}

p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

#hero {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}
.testimonial-card {
padding: 24px;
height: auto;
width:340px;
background-color: #ffffff;
border-radius: 10px;
box-shadow: #0000001f 0px 2px 3px;
}
.top-card {
display: flex;
width: auto;
}
.name-block{
  padding-left: 16px;
  width: 100%;
  height: 48px;
}
.name-title {
  font-size: 18px;
  line-height: 28px;
  color: #171717;
  width: auto;
  font-weight: 600;
}
.name-tag {
  width: auto;
  font-size: 14px;
  line-height: 20px;
  color: #525252;
}

.bottom-card {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  color: #525252;
}
